.FriendListWrapper{
    background-color: white;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.TabsAndButtonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .AddFriendButton {
    margin-right: 20px;
  }
  
  .AddFriend {
    border-style:ridge;
    background-color: #F7F7FA;
    color: #ff903f;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border-color: #ff903f;
    font-weight: 700;
  }
  /* Friend.css */
.search-container {
    position: relative;
    margin-top: 20px; /* 필요에 따라 조정 */
  }
  
  .searchInput {
    width: 100%;
    padding: 10px 10px 10px 40px; /* 왼쪽에 아이콘 공간 확보 */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-icon {
    position: absolute;
    left: 10px; /* 아이콘의 위치 조정 */
    top: 50%;
    transform: translateY(-50%);
    color: gray; /* 아이콘 색상 조정 */
    width: 20px; /* 아이콘 크기 조정 */
    height: 20px; /* 아이콘 크기 조정 */
  }
  
  
  .AddFriend:hover {
    background-color: #E8E8ED;
  }
  
  /* 모달 오버레이 */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* 모달 내용 */
  .FriendmodalContent {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* 입력창 스타일 */
  .searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
  }
  