.ModalWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.Modal {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    max-width: 850px; /* 최대 너비 설정 */
    height: 100%;
    max-height: 750px; /* 최대 높이 설정 */
    border-radius: 13px;
    color: black;
    z-index: 999;
    overflow: hidden; /* 내용이 넘치지 않도록 */
}

.ModalHeader {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.CloseIcon {
    color: #9c9c9c;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.ModalBody {
    display: flex;
    height: 100%;
}

.SideBar {
    background-color: #F7F7FA;
    width: 30%;
    min-width: 200px; /* 사이드바의 최소 너비 설정 */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Profile {
    padding: 20px;
}

.ProfileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileImage {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.ProfileName {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.ProfilePoints {
    color: #888;
}

.SideBarSetting, .Information {
    padding-top: 20px;
    padding-bottom : 10px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: #A9ABBB;
}

.SideBarSettingItem button, .InformationItem button {
    border: 0;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: #525463;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 20px;
}

.SideBarSettingItem button:active, .InformationItem button:active {
    font-weight: 800; /* 클릭된 버튼의 글꼴 두께를 변경 */
}

.SettingsContents {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #ffffff;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .Modal {
        width: 95%;
        height: 95%;
    }

    .SideBar {
        width: 40%;
    }

    .SettingsContents {
        padding: 10px;
    }
}

.LogoutButton {
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #34C184;
    margin-top: 50%;
    background-color: #F7F7FA;
    display: flex;
    font-weight: 400;
}
